<<<<<<< Updated upstream

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  list-style: none;
}

body {
  /*background: linear-gradient(to right, #6814cd 0%, #3163f3 100%);*/
  background-image: url(Pathfinderbackground.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font: normal 18px/1.5 Helvetica, sans-serif;
}

/* Style the tab */
.tab {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  border: 5px solid #522E2C;
  background-color: black;
  border-radius: 25px 25px 0px 0px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: #342C19;
  color: orange;
  font-weight: bold;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  margin-right: 30px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  max-width: 1200px;
  margin: auto;
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #E8DFC0;
  border-radius: 0px 0px 25px 25px;
}

.hojavertical {
  max-width: 1200px;
  height: 1300px;
  background-color: #E8DFC0;
  margin: 50px auto;
  display: block;
  position: relative;
  padding: 30px;
  border-radius: 25px 25px 25px 25px;
  border-color: #AE3133;
  border-width: 10px 10px 0px 10px;
  border-style: solid;
  page-break-before: always;
  counter-increment: page;
}

div.hojavertical:after {
     content: " PAGE - " counter(page);
     position: absolute;
     bottom: 0px;
     right: 15px;
     padding: 2px 12px;
     border-right: 2px solid #23b8e7;
     font-size: 12px;
}

#principal_header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 60px;
  color: #8F222E;
  text-shadow: 2px 2px 3px black;
  height: 50px;}

header {
  margin-top: 10px;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 40px;
  color: #8F222E;
  text-shadow: 2px 2px 3px black;
  height: 50px;}

h1 {
  margin-top: 10px;
  font-weight: bold;
  font-size: 30px;
  color: orange;
  text-shadow: 2px 2px 2px black;
}


.tablacentral {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border: 3px solid #8F222E;
}

.tablacentral .td1 {
  text-align: center;
  border: 2px solid #8F222E;
  background-color: #C9AD6A;
}

.tablacentral .td2 {
  text-align: center;
  border: 2px solid #8F222E;
  background-color: #E8DFC0;
  padding-left: 15px;
  padding-right: 15px;
}

.tablacentral .td3 {
  text-align: center;
  border: 2px solid #8F222E;
  background-color: #522E2C;
  color: #CBC18F;
  padding: 10px;
}

.tabla2 {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  font-size: 12px;
  display: inline-block;
  /*font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;*/
}

.tabla2 .td1 {
  text-align: left;
  background-color: #C9AD6A;
  padding-left: 8px;
  height:25px;
}

.tabla2 .td2 {
  text-align: left;
  background-color: #F1F3F4;
  padding-left: 8px;
  height:25px;
}

.tabla2 .td3 {
  text-align: left;
  background-color: #5D0100;
  color: white;
  padding-left: 8px;
  min-width: 770px;
}

#traits2 {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  background-color: #522E2C;
  color: white;
}

#traits2 td {
  padding-left: 5px;
  padding-right: 5px;
}

#traits3 {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  background-color: #B26873;
  color: white;
}

#traits3 td {
  padding-left: 5px;
  padding-right: 5px;
}

div.feats {
  background-color: #522E2C;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px 5px 5px 5px;
  margin-bottom: 5px;
  color: white;
}

#feats {
  font-size: 22px;
  font-weight: bold;
}

#traits {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border: 3px solid #D8C483;
  background-color: #522E2C;
  color: white;
  float: left;
  margin-bottom: 5px;
}

#traits td {
  padding-left: 5px;
  padding-right: 5px;
}


hr {
  height:2px;
  border-width:0;
  background-color:gray;
  margin-bottom: 15px;
}

.salmon {
  color:#B26873:
}

/* ESTILOS DE LA WEB "ITEMS" */

.hojahorizontal {
  max-width: 1600px;
  height: 1300px;
  background-color: #E8DFC0;
  margin: 50px auto;
  display: block;
  position: relative;
  padding: 30px;
  border-radius: 25px 25px 25px 25px;
  border-color: #D2691E;
  border-width: 10px 10px 0px 10px;
  border-style: solid;
  page-break-before: always;
  counter-increment: page;
}

.tablacentral2 {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border: 3px solid #8F222E;
}

.tablacentral2 td {
  padding-left: 10px;
  padding-right: 10px;
}

.tablacentral2 .td1 {
  text-align: center;
  border: 2px solid #8F222E;
  background-color: #C9AD6A;
}

.tablacentral2 .td2 {
  text-align: center;
  border: 2px solid #8F222E;
  background-color: #E8DFC0;
}

.tablacentral2 .td3 {
  text-align: center;
  border: 2px solid #8F222E;
  background-color: #522E2C;
  color: #CBC18F;
}

