
* {
  box-sizing: border-box;
}

body {
  /*background: linear-gradient(to right, #6814cd 0%, #3163f3 100%);*/
  background-image: url(Pathfinderbackground.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font: normal 18px/1.5 Helvetica, sans-serif;
}

/* Style the tab */
.tab {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  border: 5px solid #522E2C;
  background-color: black;
  border-radius: 25px 25px 0px 0px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: #342C19;
  color: orange;
  font-weight: bold;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  margin-right: 30px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  max-width: 1200px;
  margin: auto;
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #E8DFC0;
  border-radius: 0px 0px 25px 25px;
}

.hojavertical {
  max-width: 1200px;
  height: 1300px;
  background-color: #E8DFC0;
  margin: 50px auto;
  display: block;
  position: relative;
  padding: 30px;
  border-radius: 25px 25px 25px 25px;
  border-color: #AE3133;
  border-width: 10px 10px 0px 10px;
  border-style: solid;
  page-break-before: always;
  counter-increment: page;
}

div.hojavertical:after {
     content: " PAGE - " counter(page);
     position: absolute;
     bottom: 0px;
     right: 15px;
     padding: 2px 12px;
     border-right: 2px solid #23b8e7;
     font-size: 12px;
}

#principal_header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 60px;
  color: #8F222E;
  text-shadow: 2px 2px 3px black;
  height: 50px;}

header {
  margin-top: 10px;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 40px;
  color: #8F222E;
  text-shadow: 2px 2px 3px black;
  height: 50px;}

.tablacentral {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border: 3px solid #8F222E;
}

.td1 {
  text-align: center;
  border: 2px solid #8F222E;
  background-color: #C9AD6A;
}

.td2 {
  text-align: center;
  border: 2px solid #8F222E;
  background-color: #E8DFC0;
  padding-left: 15px;
  padding-right: 15px;
}

.td3 {
  text-align: center;
  border: 2px solid #8F222E;
  background-color: #522E2C;
  color: #CBC18F;
  padding: 10px;
}
